@import '@/style/colors.scss';
.question {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  &__item {
    padding: 32px 32px 39px 32px;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    border-radius: 16px;
    background-color: $blue_10;
    &_max {
      background-color: $green_10;
    }
    &__list {
      display: flex;
      gap: 8px;
      margin-bottom: 14px;
      &__topic {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 12px;
        border: 1px solid $green;
        border-radius: 12px;
        &_max {
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          padding: 0 12px;
          border: 1px solid #3677b8;
          border-radius: 12px;
        }
      }
    }
    &__head {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      font-weight: 900;
      line-height: 24px;
      max-width: 2100px;
    }
    &__link {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $green;
    }
  }
}

@media screen and (max-width: 1264px) {
  .question {
    &__item {
      &_max {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .question {
    &__item {
      padding: 24px 20px 26px 20px;
      &__list {
        margin-bottom: 10px;
      }
      &__head {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
      &__text {
        font-size: 14px;
        line-height: 20px;
      }
      &__link {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
