@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.slide {
  padding: 32px;
  box-shadow: 0px 0px 5px 0px #1d304e26;
  border-radius: 20px;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &__img {
      border-radius: 20px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__topics {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        gap: 8px;
        &__item {
          border: 1px solid $green;
          border-radius: 50px;
          font-size: 12px;
          font-weight: 500;
          line-height: 22px;
          padding: 0 11px;
        }
      }
      &__img {
        display: none;
      }
      &__head {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 24px;
        font-family: Gilroy-ExtraBold;
      }
      &__time {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        &__text {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
        }
      }
      &__duralation {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        &__separator {
          color: $green;
        }
      }
      &__location {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
        &__text {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: $grey_dark;
        }
      }
      &__record {
        display: flex;
        align-items: center;
        gap: 24px;
        &__price {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          font-family: Gilroy-ExtraBold;
        }
        &__btn {
          @include link-green;
          font-size: 14px;
          padding: 10px 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 1232px) {
  .slide {
    &__content {
      &__info {
        &__record {
          &__btn {
            width: fit-content;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .slide {
    padding: 20px 16px 20px 16px;
    &__content {
      &__img {
        display: none;
      }
      &__info {
        &__topics {
          &__item {
            line-height: 23px;
          }
        }
        &__img {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 20px;
          margin-bottom: 15px;
        }
        &__head {
          margin-bottom: 17px;
          font-size: 16px;
          line-height: 24px;
        }
        &__time {
          &__text {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__location {
          margin-bottom: 24px;
          &__text {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__record {
          flex-direction: column-reverse;
          gap: 16px;
          align-items: baseline;
          &__btn {
            width: 100%;
          }
        }
      }
    }
  }
}
