@import '@/style/colors.scss';
.dipl {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  &__content {
    &__slider {
      position: relative;
      &__wrap {
        width: 780px;
        margin: 0 auto;
        &__slide {
          padding: 5px;
          &__img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px #1d304e26;
          }
        }
      }
    }
    &__arrows {
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 3;
      bottom: 50%;
      transform: translate(-2%, 50%);
      width: 104%;
    }
  }
}
.dots {
  display: none;
  &__item {
    background-color: $green_30;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 5px;
    &_active {
      background-color: $green;
    }
  }
}
.arrow {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid $green_light;
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  padding-top: 8px;
  background-color: $white;
  &_next {
    background-color: $green;
    color: $white;
  }
}

@media screen and (max-width: 844px) {
  .dipl {
    gap: 16px;
    &__head {
      font-size: 16px;
      line-height: 24px;
    }
    &__content {
      &__arrows {
        display: none;
      }
      &__slider {
        &__wrap {
          &__slide {
            height: auto;
          }
        }
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}
