@import '@/style/colors.scss';
@import '@/style/mixins.scss';
$blue_75: #6899ca;
@mixin banner {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 40px 20px;
  }
}
.banner {
  &_green {
    @include banner;
    padding: 72px;
    background-color: #4e855c;
    background-image: url('/img/ui/Banner/brain.png');
    background-repeat: no-repeat;
    background-position: 89% 100%;
    margin-bottom: 157px; //!!!
  }
  &_blue {
    @include banner;
    padding: 72px 0 60px 72px;
    background-color: $blue_75;
    background-image: url('/img/ui/Banner/flover.svg');
    background-repeat: no-repeat;
    background-position: 100% 57%;
    margin-bottom: 155px; //!!!
  }
  &_req {
    @include banner;
    padding: 72px 0px 0px 72px;
    background-color: $blue_75;
  }
  &__info {
    margin-bottom: 40px;
    &__head {
      color: #fff;
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px; /* 116.667% */
      width: 710px;

      font-family: 'Gilroy-Bold';
    }
    &__text {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px; /* 150% */
    }
    &__btn {
      &_green {
        @include link-sheer-green;
        padding: 15px 31px;
        font-size: 20px;
        font-weight: 900;
        font-family: 'Gilroy-Bold';
      }
      &_blue {
        @include link-sheer-green;
        border: none;
        color: $blue;
        padding: 15px 31px;
        font-size: 20px;
        font-weight: 900;
        font-family: 'Gilroy-Bold';
        &:hover {
          background-color: $blue_75;
        }
      }
    }
  }
  &__btn {
    padding: 18px 32px;
    border-radius: 32px;
    background: #fff;
    border: none;
    color: #4e855c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
  }
  &__wrap {
    width: 642px;
    &_blue {
      width: 642px;
    }
  }
}
@media screen and (max-width: 1264px) {
  .banner {
    &_green {
      background-size: 30%;
      background-position: 100% 100%;
    }
    &_blue {
      background-size: 30%;
      background-position: 100% 100%;
    }
  }
}
@media screen and (max-width: 950px) {
  .banner {
    &_green {
      background-image: none;
    }
    &_blue {
      background-image: none;
    }
    &__info {
      &__head {
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    &_green {
      margin-bottom: 0px;
    }
    &_blue {
      margin-bottom: 0;
    }
    &__wrap {
      width: auto;
      &_blue {
        width: auto;
      }
    }
    &__info {
      margin-bottom: 25px;
      &__head {
        width: auto;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
      &__text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
      &__btn {
        &_green {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &_blue {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    &__img {
      display: none;
      &_req {
        display: none;
      }
    }
    &__wrap {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
  }
}
