@import '@/style/colors.scss';
@import '@/style/mixins.scss';
.question {
  padding: 100px 0px 97px 0px;
  background-color: $green;
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__info {
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 40px;
      &__head {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        font-family: 'Gilroy-Bold';
      }
      &__contact {
        &__head {
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          color: $white;
          margin-bottom: 24px;
        }
        &__item {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__socials {
        &__head {
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          color: $white;
          margin-bottom: 20px;
        }
        &__list {
          display: flex;
          gap: 20px;
        }
      }
    }
    &__form {
      background-color: $white;
      padding: 72px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      &__head {
        font-size: 32px;
        line-height: 36px;
        width: 325px;
        font-family: 'Gilroy-Bold';
      }
      &__inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &__err {
          height: 16px;
          &__text {
            color: $pink;
          }
        }
        &__checkwrap {
          display: flex;
          align-items: center;
          gap: 17px;
        }
        &__text {
          border: 1px solid $grey;
          border-radius: 8px;
          padding: 15px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          width: 472px;
          outline: none;
          &:focus {
            border: 2px solid $yellow;
          }
        }
        &__check {
          display: none;
          &_fake {
            width: 24px;
            height: 24px;
            display: block;
            background-image: url('/img/icons/rest/checkbox-picked.svg');
            background-size: cover;
            &_active {
              width: 24px;
              height: 24px;
              display: block;
              background-image: url('/img/icons/rest/checkbox-empty.svg');

              background-size: cover;
            }
          }
        }
        &__label {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
        }
        &__privacy {
          color: $green;
        }
      }
      &__send {
        padding: 16px 34px;
        background-color: $green;
        border-radius: 32px;
        border: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: $white;
        width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .question {
    padding: 60px 0;
    // padding-left: 16px;
    // padding-right: 16px;
    &__content {
      text-align: center;
      flex-direction: column;
      gap: 60px;

      &__info {
        gap: 24px;
        align-items: center;
        &__head {
          font-size: 24px;
          line-height: 28px;
        }
        &__contact {
          &__head {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
          }
          width: fit-content;
          margin: 0 auto;
        }
        &__socials {
          &__head {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 16px;
          }
        }
      }
      &__form {
        padding: 40px 20px;
        gap: 16px;
        width: 100%;
        &__head {
          text-align: left;
          margin-bottom: 8px;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          width: 200px;
        }
        &__inputs {
          &__text {
            padding: 12px 16px;
            width: 100%;
          }
          &__checkwrap {
            display: flex;
            align-items: baseline;
          }
          &__check {
            margin-right: 12px;
          }
          &__label {
            font-size: 14px;
            line-height: 20px;
            display: block;
            text-align: left;
            width: 200px;
          }
        }
        &__send {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .question {
    &__content {
      &__form {
        &__inputs {
          gap: 8px;
          &__checkwrap {
            margin-top: 4px;
            align-items: center;
          }
          &__check {
            &_fake {
              margin-top: -15px;
              &_active {
                margin-top: -15px;
              }
            }
          }
          &__label {
            // margin-top: -4px;
          }
        }
      }
    }
  }
}
