@import '@/style/colors.scss';
@mixin worktype {
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 500;
}
.psychologist {
  &__img {
    width: 190px;
    height: 190px;
    border-radius: 100px;
  }
  &_full {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    display: flex;
    gap: 36px;
    padding: 40px 0 40px 32px;
    &__info {
      &__head {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        &__fullname {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }
        &__types {
          display: flex;
          gap: 4px;
          &__item {
            &_offline {
              @include worktype;
              color: $green;
              border-color: $green;
              background-color: $green_10;
            }
            &_online {
              @include worktype;
              color: $blue;
              border-color: $blue;
              background-color: $blue_10;
            }
            &_text {
              @include worktype;
              color: $yellow;
              border-color: $yellow;
              background-color: $yellow_10;
            }
          }
        }
      }
      &__feedbacks {
        display: flex;
        gap: 12px;
        &__fields {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: #7c7c7c;
          margin-bottom: 4px;
        }
      }
      &__experience {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        opacity: 80%;
        margin-bottom: 4px;
      }
      &__locations {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 9px;
        &__item {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        &__separate {
          color: $blue;
          font-size: 32px;
          line-height: 0px;
        }
      }
      &__tags {
        display: flex;
        gap: 4px;
        margin-bottom: 16px;
        &__item {
          padding: 0px 12px;
          border-radius: 50px;
          border: 1px solid #4e855c;
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }
  &_min {
    // width: 290px;
    text-align: center;
    padding: 32px;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    border-radius: 20px;
    height: 100%;
  }
}
