@import '@/style/colors.scss';
.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    &__img {
      width: 220px;
      height: 220px;
      border-radius: 110px;
      object-fit: cover;
    }
    &__contact {
      display: flex;
      gap: 8px;
      &_mobile {
        display: none;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &__fio {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
    }
    &__fields {
      &__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $grey_dark;
      }
    }
    &__params {
      display: flex;
      flex-wrap: wrap;
      &__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    &__city {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    &__location {
      display: flex;
      flex-wrap: wrap;

      &__address {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
      &__metro {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      column-gap: 8px;
      row-gap: 16px;
      flex-wrap: wrap;
      &__rec {
        padding: 12px 32px 12px 32px;
        border-radius: 32px;
        border: none;
        color: #fff;
        width: fit-content;
        background-color: $green;
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      &__tg {
        padding: 5px 32px 5px 10px;
        border-radius: 32px;
        border: 2px solid $green;
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 16px;
        &__text {
          color: $green;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
        &:hover {
          background-color: $green;
          color: $white;
          .cover__info__btns__tg__icon {
            background-image: url('/tg-hover.svg');
          }
          .cover__info__btns__tg__text {
            color: $white;
          }
        }
        &__icon {
          width: 32px;
          height: 32px;
          background-image: url('/telegram-white.svg');
          background-size: 32px;
        }
      }
      &__love {
        padding: 10px 14px;
        border-radius: 32px;
        background: #fff;
        border: none;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        display: block;
        width: fit-content;
        border: 2px solid $green;
        &__heart {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 844px) {
  .cover {
    flex-direction: column;
    align-items: center;
    &__wrap {
      &__img {
        margin-bottom: 24px;
      }
      &__contact {
        display: none;
        &_mobile {
          display: flex;
          gap: 8px;
          justify-content: center;
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    }
    &__info {
      &__wrap {
        gap: 8px;
        align-items: center;
      }
      &__fio {
        font-size: 24px;
        line-height: 28px;
      }
      &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
      }
      &__params {
        justify-content: center;
      }
      &__city {
        text-align: center;
      }
      &__location {
        justify-content: center;
      }
      &__btns {
        &__rec {
          width: 100%;
          text-align: center;
        }
        &__tg {
          justify-content: center;
          gap: 12px;
          width: 79%;
        }
      }
    }
  }
}
