@import '@/style/colors.scss';
.popular {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__head {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
}
.arrow {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid $green_light;
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  padding-top: 8px;
  background-color: $white;
  &_next {
    background-color: $green;
    color: $white;
  }
}
.slider {
  position: relative;
  &__wrap {
    padding: 5px 0 5px 0;
  }
  &__slide {
    padding: 5px;
  }
  &__arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    bottom: 50%;
    transform: translate(-2%, 50%);
    width: 104%;
  }
}
.dots {
  display: none;
  &__item {
    background-color: $green_30;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 5px;
    &_active {
      background-color: $green;
    }
  }
}

@media screen and (max-width: 715px) {
  .popular {
    gap: 24px;
  }
  .dots {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .slider {
    &__arrows {
      display: none;
    }
  }
}
