@import '@/style/colors.scss';
@import '@/style/mixins.scss';
@mixin worktype {
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 500;
}
.modal {
  box-shadow: 0px 4px 30px 0px #1f32551a;
  height: fit-content;
  position: absolute;
  left: 50%;
  z-index: 5;
  background-color: $white;
  padding: 16px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 203px;
  &__tag {
    padding: 0px 12px;
    border-radius: 50px;
    border: 1px solid #4e855c;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
  }
}
.psychologist {
  &_full {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    display: flex;
    gap: 36px;
    padding: 40px 32px 40px 32px;
    width: 837px;
    &__record {
      @include link-green;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      padding: 6px 36px;
    }
    &__info {
      &__img {
        width: 224px;
        height: 224px;
        border-radius: 150px;
        object-fit: cover;
      }
      &__head {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        &__fullname {
          font-size: 24px;
          font-family: 'Gilroy-Bold';
          line-height: 28px;
        }
        &__types {
          display: flex;
          gap: 4px;
          &__item {
            &_offline {
              @include worktype;
              color: $green;
              border-color: $green;
              background-color: $green_10;
            }
            &_online {
              @include worktype;
              color: $blue;
              border-color: $blue;
              background-color: $blue_10;
            }
            &_text {
              @include worktype;
              color: $yellow;
              border-color: $yellow;
              background-color: $yellow_10;
            }
          }
        }
      }
      &__feedbacks {
        display: flex;
        gap: 12px;
        &__fields {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
          color: #7c7c7c;
          margin-bottom: 4px;
        }
      }
      &__experience {
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        opacity: 80%;
        margin-bottom: 4px;
      }
      &__locations {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        gap: 9px;
        &__metrosep {
          width: 8px;
          height: 8px;
        }
        &__item {
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
        }
        &__separate {
          color: $blue;
          font-size: 32px;
          line-height: 0px;
        }
      }
      &__tags {
        display: flex;
        gap: 4px;
        margin-bottom: 16px;
        &__item {
          padding: 0px 12px;
          border-radius: 50px;
          border: 1px solid #4e855c;
          font-size: 12px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }
  &_min {
    // width: 290px;
    text-align: center;
    padding: 32px;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0px 0px 5px 0px #1d304e26;
    &__img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      margin-bottom: 10px;
    }
    &__fullname {
      font-family: 'Gilroy-Bold';
      font-size: 25px;
    }
    &__fields {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .psychologist {
    &_full {
      width: 100%;
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 768px) {
  .psychologist {
    &_full {
      flex-direction: column;
      width: auto;
      text-align: center;
      padding: 32px 5px;
      gap: 16px;
      &__info {
        &__img {
          margin: 0 auto;
          width: 184px;
          height: 184px;
        }
        &__head {
          justify-content: center;
          margin-bottom: 6px;
          &__fullname {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
          }
          &__types {
            display: none;
          }
        }
        &__feedbacks {
          flex-direction: column;
          margin-bottom: 6px;
          gap: 0;
          &__fields {
            font-size: 16px;
            line-height: 21px;
            text-align: center;
          }
        }
        &__locations {
          justify-content: center;
          margin-bottom: 16px;
        }
        &__tags {
          justify-content: center;
          flex-wrap: wrap;
          &__item {
            height: fit-content;
          }
        }
      }
      &__record {
        width: 100%;
      }
    }
    &_min {
      padding: 27px;
      &__img {
        width: 184px;
        height: 184px;
        margin-bottom: 15px;
      }
      &__fullname {
        font-size: 20px;
        line-height: 24px;
        display: inline;
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .psychologist {
    &_full {
      padding-left: 0;
      padding-right: 0;
      &__record {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}
