@import 'colors.scss';
@mixin link-green {
  padding: 15px 32px;
  border-radius: 32px;
  border: 2px solid $green;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  display: block;
  background-color: $green;
  text-align: center;
}
@mixin link-sheer-green {
  border-radius: 32px;
  padding: 9px 24px;
  border: 2px solid $green;
  background-color: $white;
  color: $green;
  font-size: 16px;
  font-weight: 900;
  font-family: 'Gilroy-Bold';
  display: block;
  width: fit-content;
  &:hover {
    background-color: $green;
    color: $white;
  }
}
@mixin link-tg-icon {
  width: 39px;
  height: 39px;
  background-image: url('/telegram-white.svg');
  background-size: 39px;
}
@mixin link-tg-text($color: $green) {
  color: $color;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  font-family: 'Gilroy-Bold';
}
@mixin link-tg-green {
  padding: 7px 32px 7px 7px;
  border-radius: 32px;
  border: 2px solid $green;
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 16px;
  &:hover {
    background-color: $green;
    color: $white;
    link-tg-icon {
      background-image: url('/tg-hover.svg');
    }
    link-tg-text {
      color: $white;
    }
  }
}
@mixin button-sheer {
  padding: 11px 22px 11px 22px;
  border-radius: 30px;
  border: 1px solid $grey;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}
@mixin button-sheer-active {
  @include button_sheer;
  background-color: $green_10;
  border: 2px solid $green;
}
@mixin input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  outline: none;
  &:focus {
    border: 2px solid $yellow;
  }
}
